# macOS system junk
.DS_Store

# Visual Studio Code junk
.vscode/
.vscode/settings.json

# Editor backups
*~  # Emacs
.spyderproject  # Spyder
.spyproject  # Spyder
.ropeproject  # Rope

# Python bytecode and compiled files
__pycache__/
*.py[cod]
*$py.class
*.so  # C extensions

# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyenv version file (only needed for specific environments)
.python-version

# Dependency & package management
.Python
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
*.egg
.installed.cfg

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
MANIFEST

# PyInstaller artifacts
*.manifest
*.spec

# Pip and package management logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test & coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Framework-specific ignores
## Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

## Flask
instance/
.webassets-cache

## Scrapy
.scrapy

## Sphinx documentation
docs/_build/

## PyBuilder
.pybuilder/
target/

## Jupyter Notebook
.ipynb_checkpoints

## IPython
profile_default/
ipython_config.py

# Package management tools
# (Pipenv: Pipfile.lock is optional; see pypa/pipenv#598)
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Task queue tools
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Static type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython debug symbols
cython_debug/

# MkDocs documentation
/site
